body {
  margin: 0;
  background: #0a0a0a;
  font-family: Arial, sans-serif;
  color: white;
}

/* Login Box */
#loginBox {
  width: 320px;
  margin: 120px auto;
  background: #111;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px #0077ff55;
}

#loginBox input {
  width: 90%;
  padding: 10px;
  margin: 8px;
  border: none;
  border-radius: 6px;
}

#loginBtn {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
  background: #0077ff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

#loginError {
  color: red;
  margin-top: 8px;
  display: none;
}

.sub {
  font-size: 14px;
  color: #bbb;
}

/* Main UI */
#mainUI {
  display: none;
  text-align: center;
}

#videoArea {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
}

#remoteVideo {
  width: 100%;
  background: black;
  border-radius: 8px;
}

#localVideo {
  width: 25%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 6px;
  border: 2px solid #0077ff;
}

#roomUI {
  margin: 10px;
}

#chatArea {
  max-width: 650px;
  margin: auto;
}

#messages {
  height: 200px;
  background: #111;
  border: 1px solid #333;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  text-align: left;
}

#msgInput {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

#sendBtn {
  padding: 8px;
  border-radius: 5px;
  border: none;
}
