body { margin: 0; font-family: Arial; }

/* Center forms */
.center-page { background:#0a0a0a; height:100vh; display:flex; justify-content:center; align-items:center; }
.login-box { background:#111; padding:30px; border-radius:10px; text-align:center; width:90%; max-width:350px; box-shadow:0 0 15px #0066ff; }
.login-box h2 { color:white; }
.login-box input { width:100%; margin:8px 0; padding:10px; border-radius:6px; border:none; }
.login-box button { width:100%; padding:12px; background:#0066ff; color:white; border:none; border-radius:6px; }
.error { color:red; }

/* Video page */
body {
  margin: 0;
  background: #f2e7d9;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  font-size: 26px;
  font-weight: bold;
  padding: 10px;
  color: #ff7a00;
}

#videoContainer {
  width: 100%;
  max-width: 900px;
  height: 55vh;
  background: #444;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

/* big friend video */
#remoteVideo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: black;
}

/* small mirrored self video */
#localVideo {
  position: absolute;
  bottom: 12px;
  right: 12px;
  width: 28vw;
  max-width: 150px;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid white;
  transform: scaleX(-1);
}

#chatBox {
  width: 100%;
  max-width: 900px;
  height: 28vh;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#messages {
  flex: 1;
  padding: 8px;
  overflow-y: auto;
  font-size: 15px;
}

#chatControls {
  display: flex;
  border-top: 1px solid #ddd;
}

#messageInput {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

#sendBtn {
  padding: 0 20px;
  border: none;
  background: #0275ff;
  color: white;
  font-size: 16px;
}

#leaveBtn {
  margin-top: 12px;
  padding: 12px 28px;
  border: none;
  background: #d90000;
  color: white;
  font-size: 18px;
  border-radius: 8px;
}
