body {
  margin: 0;
  background: #000;
  color: white;
  font-family: Arial;
}

.center-box {
  width: 90%;
  max-width: 420px;
  margin: 60px auto;
  background: #0c0c0c;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 120, 255, 0.5);
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  font-weight: bold;
}

button:hover { background: #0968d8; }

.error { color: red; }
.hidden { display: none; }

/* VIDEO CALL PAGE */
#videoContainer {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
#remoteVideo {
  width: 100%;
  height: 260px;
  border-radius: 10px;
  background: #111;
}
#localVideo {
  width: 90px;
  height: 120px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 6px;
  border: 2px solid #007bff;
}

#chatBox {
  height: 170px;
  overflow-y: auto;
  background: #111;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 8px;
}

.msg-box {
  display: flex;
  gap: 8px;
}
.msg-box input { flex: 1; }

.endCall {
  background: #d90000;
  margin-top: 12px;
}
